.socialBox{
    width: 300px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    opacity: 0.8;
    cursor: pointer;
}
.socialBox:hover{
    opacity: 1;
}