@media (max-width: 1000px){
    .header{
        height: 60px !important;
        .wrapper{
            padding: 0px 5px !important;
        }
        .right{
            padding-right: 25px !important;
            gap: 5px !important;
            font-size: 16px !important;

            div{
                padding: 0 5px;
            }
        }
        .left{
            padding: 5px !important;

            span{
                font-size: 22px !important;
            }
        }
    }
    
}
@media (max-width: 810px) {
    .left{
        display: none;
    }
    .right{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .header{
        margin-top: 10px !important;
    
    .wrapper{
        width: 90% !important;
    
    .right{
        div{
        font-size: 11px !important;
        }
    }
    }
}
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 99;
    margin: 1% auto;
   


    .colouredLet{
        color: #FF6500;
    }

    .wrapper{
        width: 70%;
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        align-items: center;
        height: 70px;
        background-color: #0B192C;
        color: #cacaca;
        border-radius: 10px;
        border: solid 1px #1E3E62;
        

        .left{
            padding-left: 80px;

            span{
                font-size: 42px;
                font-weight: 700;
            }
        }

        .right{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
            padding-right: 10px;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            

            div{
                position: relative;
                background-color: none;
                padding: 5px 15px;
                border-radius: 25px;
            }

            div:hover{
                transform: scale(1.1);
                transition: 0.4s;
                
            }

            .active{
                background-color: #1E3E62 !important;
            }
        }

    }
}

