
@media only screen and (max-width: 1000px) {
    .projectDetails{
        top: 80px;
        left: 0px;
        width: 100% !important;
        height: auto !important;
        flex-direction: column !important;
        align-items: center !important;

        .left{
            width: 100% !important;
            height: auto !important;
            padding: 30px !important;
            padding-top: 60px !important;

            h2{
                font-size: 18px !important;
            }

            p{
                font-size: 12px;
                padding-bottom: 10px;
            }

            span{
                gap: 10px !important;
                max-width: 100% !important;
            }
        }

        .closeBtn{
            display: none !important;
        }
    }
}

.projectDetails{
    position: absolute;
    width: 1245px;
    height: 615px;
    border-radius: 15px;
    z-index: 50;
    color: #cecece;
    display: flex;
    flex-direction: row;
    gap: 15px;
    

    .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #0B192C;
        border: solid 1px #1E3E62;
        width: 615px;
        height: 615px;
        padding: 50px 80px;
        border-radius: 15px;
        font-size: 14px;

        h2{
            font-size: 24px;
            font-weight: 700;
        }

        span{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;

            .icon{
                background-color: #1E3E62;
                border-radius: 15px;
                border: 2px #0B192C;
                padding: 10px;
                box-shadow: 0px 0px 15px 0px rgba(255, 101, 0, 0.5);
                -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 101, 0, 0.5);
                -moz-box-shadow: 0px 0px 15px 0px rgba(255, 101, 0, 0.5);
            }
        }
    }

    .right{
        background-color: #0B192C;
        border: solid 1px #1E3E62;
        width: 615px;
        height: 615px;
        padding: 25px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 15px;

        .imagesDetails{
            overflow: hidden;
            border-radius: 15px;
        }

        .gitLink{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            background-color: #1E3E62;
            padding: 5px;
            border-radius: 15px;
            gap: 10px;
        }

        .gazetImg{
            max-height: 75%;
            border-radius: 15px;
        }
    }

    .closeBtn{
        position: absolute;
        bottom: 35px;
        right: 35px;
        background-color: #FF6500;
        border-radius: 15px;
        padding:5px 25px;
    }

    .closeIcon{
        position: absolute;
        top: 25px;
        left: 25px;
        background-color: #FF6500;
        border-radius: 15px;
        cursor: pointer;
    }
}