.contactDetails{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: solid 1px #1E3E62;
    background-color: #0B192C;
    color: #cecece;
    gap: 10px;
    padding: 10px 25px;

    .detailsTitle{
        font-size: 20px;
        font-weight: 700;
        color: #FF6500;
    }

    .details{
        display: flex;
        flex-direction: column;
        gap: 10px;

        span{
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
        }

    }
}